html{
--bg: #414141;
--bg-painel: #6b6b6b;
--color-headlings: #3664ff;
--color-text: #d4d4d4;
}

body{
    background-color: var(--bg);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: default;
}
img{
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
}
.topnav {
    margin: 5px;
    background-color: var(--bg-painel);
    overflow: hidden;
    border-radius: 10px;
    border-bottom: 10px;
  }
  
  .topnav a {
    float: left;
    color: var(--color-text);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: purple;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .wl{
    text-align: center;
  }
  .wl h2{
    color: rgb(148, 0, 185);
  }
  h1{
    color: var(--color-text);
  }


.card{
  background-color:#414141;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease;
  text-align: center;
  color: var(--color-text);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
}
.card i{
  transform: scale(1.6);
  margin-bottom: 10px;
}
.cards{
  display: flex;
  justify-content: space-around;
}
.card:hover{
  background-color: purple;
  box-shadow: none;
}

@media (max-width: 610px){
  .cards{
    display: block;
  }
}

footer{
  margin-top: 50px;
  text-align: center;
  background-color: #212121;
  padding: 5px;
}
footer h3,
footer h1{
  color: rgb(200, 200, 200);
}
h3{
  font-size: 1.0rem;
}
footer h1{
  font-family: "Abster";
  letter-spacing: 8px;
}


/* VIP'S */
img{
  width: 40rem;
}

.card2{
  background-color:#414141;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 40px;
  border-radius: 10px;
  transition: all 0.5s ease;
  text-align: center;
  cursor: pointer;
  color: var(--color-text);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
}
.card2:hover{
  background-color: #383838;
}
.card2 img{
  transition: all 0.5s ease;
}
.card2 img:hover{
  opacity: 0.5;
}
/* SCROLL */

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #313131;      
}

body::-webkit-scrollbar-thumb {
  background-color: red;    
  border-radius: 20px;       
  border: 3px solid #313131;  
}